.scoreboard{
	max-width: 600px;
	margin: auto;
	text-align: center;
	border: 1px solid #ddd;
}
.header{
	background-color: red;
	color: #fff;
}
.teams{
	float:left;
}
.team-name{
	width: 100%;

}
.counter-change, .team-score{
	float: left;
	width: 33%;
}
.minus{
	background-color: #ff0000;
	color: white;

}
.plus{
	background-color: #00ff00;
	color: black;
}